/* work sans font form google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Work Sans", sans-serif;
}
/* Header styles */
.nav-title{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
   
}
nav li a{
    text-decoration: none;   
    color: var(--Dark-02, #424242);
}
/* banner styles */
.banner-content{
    max-width: 860px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: var(--Dark-01, #131313);
    font-size: 64px;
    font-weight: 700;
}
.banner-discription{
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}

/* Main Styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 85px 0;
}
.team-content{
    padding: 0 76px;
}
.team-title, .features-title{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}
.Quick-list{
    color: var(--Dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
}

.team-yellow{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.team-text{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
/* Features */
.f-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features{
    display: flex;
    gap: 40px;
}
.features-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    border-radius: 8px;
    margin: 20px 0;
}
.f-card-title{
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
}
.f-card-content{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-top: 10px;
}
.features-img img{
    height: 90%;
    margin-left: 50px;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 342px;
    height: 100px;
    text-align: center;
    padding: 40px;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    color: #FFF;
    margin: 0;
    font-size: 65px;
    font-weight: 700;

}

/* Some facts */

.section-title{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.text-light-gray{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
}

.card{
    text-align: center;
    width: 241.831px;
    padding: 45px 0px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
.card:hover{
    background-color: antiquewhite;
}

/* Start Sponsors */
.sponsors{
    text-align: center;
}
.sponsors-content{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.sponsors-logo{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

/* copyrights */
.copyright{
    display: flex;
    justify-content: center;
    margin: 130px 0;
}
.copyright-content{
    border-radius: 8px;
    background: #FFF4E7;
    width: 1440px;
    padding: 45px 0;
    text-align: center;
}

/* Responsive Media Quiry */
/* Mobile Devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    .team, .facts-card-container, .sponsors-logo, .features{
        flex-direction: column;
        align-items: center
    }
    .team-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-content, .Facts{
        text-align: center;
    }
    .card{
        margin: 5px;
    }
    .sponsors-logo img{
        margin: 10px 0;
    }
    .features-img img{
        width: 90%;
    }
}
/* tablate Devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .team, .features{
        flex-direction: column;
    }
    .team-img{
        grid-template-columns: repeat(2, 1fr);
    }
    .team-content{
        text-align: center;
    }
    .features-img img{
        width: 90%;
    }
}